<div class="container">
  <mat-form-field appearance="outline" class="search">
    <mat-label>Поиск по имени</mat-label>
    <input matInput [(ngModel)]="searchTerm" (ngModelChange)="applyFilters()" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="filter">
    <mat-label>Фильтр</mat-label>
    <mat-select [(ngModel)]="filterType" (selectionChange)="applyFilters()">
      <mat-option value="all">Все</mat-option>
      <mat-option value="active">Активные</mat-option>
      <mat-option value="inactive">Неактивные</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-list>
    <mat-list-item *ngFor="let user of filteredUsers" (click)="onUserClick(user)" style="cursor: pointer;">
      <mat-icon matListIcon>{{ user.active ? 'person' : 'person_off' }}</mat-icon>
      <h4 matLine>{{ user.name }}</h4>
      <p matLine>{{ user.active ? 'Активен' : 'Неактивен' }}</p>
    </mat-list-item>
  </mat-list>
  
</div>
<app-email-card [email]="selectedEmail()"></app-email-card>